body {
  background-color: black;
}
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; 
}

.mainContent {
  background-color: #ffffff;
  padding: 0;
}

.mb-3{
  width: 100%;
}


