#main-div {
    width: 100%;
    /* display: flex; */
    justify-content: center;
    align-items: flex-start;
    align-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: black;
    padding-top: 40px;
    padding-bottom: 40px;
    /* position: relative; */
}

#main-slider-container {
    max-width: 880px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 420px;
    background-color: rgb(0, 0, 0);
    margin-bottom: 20px;
    padding: 0 0 0 0;
    position: relative;
    
}
#slider {
    
    width: 100%;
    height: 100%;
    white-space: wrap;
    overflow-x: scroll;
    scroll-behavior: smooth;
    display: flex;
    /* box-sizing: border-box; */
    justify-content: center;
    align-items: center;
    position:relative;
    /* padding-left: 1px; */

}

#slider::-webkit-scrollbar {
    display: none;
}

.slider-icon.left, .slider-icon.right {
    opacity: 80%;
    border-radius: 6%;
    border:1px solid white; 
    color: rgb(255, 255, 255);
    position: absolute;
    background-color: black;
    z-index: 1;
}

.slider-icon.left{
    left: 0;
}

.slider-icon.right{
    right: 0;
}

.slider-icon:hover {
    color:rgb(254, 199, 0)
}

.bookmark {
    display: flex;
    justify-content: flex-start;
    opacity: 80%;
    left: 0px;
    top:0px;
    color: rgb(246, 245, 245);
    position: absolute;

}
.bookmark:hover {
    color:yellow;
}

.slider-card {
        border: 1px solid rgb(37, 36, 36);
        min-width: 170px;
        width: 25%;
        height: 100%;
        background-color: rgb(25, 23, 23);
        border-radius: 3%;
        display: inline-block;
        margin-left: 1px;
        margin-right: 5px;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center; 
        position: relative;  
}

.slider-card-image{
    width: 100%;
    height: 60%;
    background-color: white;
    top: 0px;  
    
}

.card-button{
    font-size: medium;
    color:rgb(45, 103, 218);
    width: 90%;
}

.card-info-div {
    padding: auto;  
    position: relative;
    border-radius: 50%;  
    width: 30px;
    margin-top: 5%;
    margin-left: 75%;  
    color:white;      
}
#card-button{
    font-family:Arial, Helvetica, sans-serif;
    font-size: small solid;
    margin: 1px;
    background-color: rgb(55, 54, 54);
    border: rgb(55, 54, 54);solid 1px;
    color:rgb(5, 106, 208)
    
}

.card-info-div:hover{
    background-color: rgb(78, 75, 75);
    
}

.star{
    color:rgb(253, 232, 5);
    fill:rgb(251, 251, 1)
}
.star-text{
    color: gray;
    fill:gray;
    font-size: small;
}

.title{
    font-size: small;
    text-overflow: ellipsis;
    color:white;
}

.main-text {
    font-family: Arial, Helvetica, sans-serif;
    color:white;
    font-size: 32px;
    font-weight: 550;
    margin-left: 25px;
    padding: 0px;
    border: 0px;
    vertical-align: baseline;
}

.main-text::before{
    display: flex;
    background: #f5c518;
    align-self: flex-start;
    box-sizing: border-box;
    content: "";
    display: block;
    height: 40px;
    margin-left: -12px;
    position: absolute;
    width: 4px;
}

