#main-div {
    width: 100%;
    /* display: flex; */
    justify-content: center;
    align-items: flex-start;
    align-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: rgb(255, 255, 255);
    padding-top: 40px;
    padding-bottom: 40px;
    /* position: relative; */
}

#main-slider-container {
    max-width: 880px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 420px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 20px;
    padding: 0 0 0 0;
    position: relative;
    
}
#slider {
    width: 100%;
    height: 100%;
    overflow-x: auto;
    scroll-behavior: smooth;
    display: flex;
    align-items: center;
    position: relative;
    background-color: rgb(249, 247, 247)
}

#slider::-webkit-scrollbar {
    display: none;
}

.slider-icon.left, .slider-icon.right {
    opacity: 80%;
    border-radius: 6%;
    border:1px solid white; 
    color: rgb(255, 255, 255);
    position: absolute;
    background-color: black;
    z-index: 1;
}

.slider-icon.left{
    left: 0;
}

.slider-icon.right{
    right: 0;
}

.slider-icon:hover {
    color:rgb(254, 199, 0)
}

.bookmark {
    display: flex;
    justify-content: flex-start;
    opacity: 80%;
    left: -4px;
    top:0px;
    color: rgb(246, 245, 245);
    position: absolute;

}
.bookmark:hover {
    color:rgb(220, 171, 10);
}

.slider-card {
        min-width: 170px;
        width: 25%;
        height: 95%;
        background-color: rgb(255, 255, 255);
        border-radius: 2%;
        display: inline-block;
        margin-left: 10px;
        margin-right: 10px;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center; 
        position: relative;  
        box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.1);
}

.slider-card-image{
    width: 100%;
    height: 60%;
    background-color: white;
    top: 0px;  
    
}

.card-button{
    font-size: medium;
    color:rgb(45, 103, 218);
    width: 90%;
}

.card-info-div {
    display:flex;
    align-items: center;
    justify-content: center;
    padding: auto;  
    position: relative;
    border-radius: 50%;  
    width: 35px;
    height: 35px;
    margin-top: 5%;
    margin-left: 75%;  
    color:rgb(91, 91, 91);      
}

.card-info-div:hover{
    background-color: rgb(243, 240, 240);
    
}

#card-button{
    width: 90%;
    font-stretch: 100%;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: medium;
    margin: 5%;
    background-color: rgb(214, 210, 210);
    border: rgb(55, 54, 54);solid 1px;
    color:rgb(5, 106, 208)
    
}

.button-text::after {
    content: "Watch options";
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    cursor: default;
    writing-mode: horizontal-tb;

}

.star-div {
    padding: 5px;
    padding-bottom: 0px;
}
.star{
    margin: 5px;
    color:rgb(253, 232, 5);
    fill:rgb(251, 251, 1)
}
.star-text{
    color: gray;
    fill:gray;
    font-size: small;
}

.star-button {
    background-color: white;
    border: white;
    border-color:blue
    
}

.star-svg{
    border-color: blue;
    fill:rgb(5, 106, 208);
    font-size: 10px;
}

.star-button:hover{
    background-color: rgb(242, 244, 246);
}

.title{
    font-size: small;
    text-overflow: ellipsis;
    color:rgb(0, 0, 0);
    margin: 4px;
}

.main-text {
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(0, 0, 0);
    font-size: 32px;
    font-weight: 540;
    margin-left: 28px;
    /* padding: 12px; */
    border: 0px;
    vertical-align: baseline;
}

.main-text::before{
    display: flex;
    background: #f5c518;
    align-self: flex-start;
    box-sizing: border-box;
    content: "";
    display: block;
    height: 40px;
    margin-left: -12px;
    position: absolute;
    width: 4px;
}

.moreInfo {
    color: rgb(122, 122, 122);
    position: relative;
    z-index: 1;
    right: 0px;
}

.more-info-div {
    display:flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
}
.more-info-div:hover {
    background-color: rgb(238, 236, 236);
    border-radius: 50%;
}



.title-div {
    display: flex;
    max-width: 880px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}