#main-slider-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* max-width: 620px; */
    height: 420px;
    background-color: rgb(251, 249, 249);
    margin-bottom: 20px;
    position: relative;
    
}
#slider {
    
    width: 100%;
    height: 100%;
    white-space: nowrap;
    overflow-x: scroll;
    scroll-behavior: smooth;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 1px;
}

#slider::-webkit-scrollbar {
    display: none;
}

.slider-icon.left, .slider-icon.right {
    opacity: 20%;
    border-radius: 6%;
    border:1px solid; 
    color: rgb(251, 250, 250);
    position:absolute;
    background-color: black;
}

.slider-icon.left{
    left: 0;
}

.slider-icon.right{
    right: 0;
}

.slider-icon:hover {
    color:rgb(236, 186, 2)
}

.bookmark {
    display: flex;
    justify-content: flex-start;
    opacity: 50%;
    left: 0px;
    top:0px;

}

.slider-card {
        border: 1px solid rgb(207, 204, 204);
        min-width: 170px;
        height: 100%;
        background-color: rgb(255, 255, 255);
        border-radius: 3%;
        display: inline-block;
        margin-left: 1px;
        margin-right: 5px;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;   
}

.slider-card-image{
    width: 100%;
    height: 60%;
    background-color: white;
    margin-top: 0%;
    
    
}

.card-button{
    font-size: medium;
    color:blue;
    width: 90%;
}

.card-info-div {
    padding: auto;  
    position: relative;
    border-radius: 50%;  
    width: 30px;
    margin-top: 5%;
    margin-left: 75%;        
}
#card-button{
    font-family:Arial, Helvetica, sans-serif;
    font-size: small solid;
    margin: 1px;
    background-color: rgb(224, 222, 222);
    border: rgb(212, 210, 210) solid 1px;
    color:rgb(5, 106, 208)
    
}

.card-info-div:hover{
    background-color: rgb(198, 193, 193);
    
}

.star{
    color:rgb(197, 181, 9);
    fill:rgb(154, 154, 4)
}
.star-text{
    color: gray;
    fill:gray;
    font-size: small;
}

.title{
    font-size: small;
    text-overflow: ellipsis;
}

.main-text {
    font-family: Arial, Helvetica, sans-serif;
    color: black solid;
    font-size: 32px;
    font-weight: 550;
    margin: 0px;
    padding: 0px;
    border: 0px;
    vertical-align: baseline;
}

.main-text::before{
    background: #f5c518;
    align-self: flex-start;
    box-sizing: border-box;
    content: "";
    display: block;
    height: 40px;
    margin-left: -12px;
    position: absolute;
    width: 4px;
}

#main-div {    
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: nowrap; 
}
