#main-slider-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    /* margin-left: 250px; */
    max-width: 800px;
    height: 300px;
    background-color: rgb(251, 249, 249);
}
#slider {
    width: 100%;
    height: 100%;
    white-space: nowrap;
    overflow-x: scroll;
    scroll-behavior: smooth;
}

#slider::-webkit-scrollbar {
    display: none;
}

#main-slider-container {
    position: relative;
    display: flex;
    align-items: center;
    
}


.slider-icon.left, .slider-icon.right {
    background-color: transparent;
    border-radius: 6%;
    border:1px solid; 
    color: rgb(250, 248, 248);
    position:absolute;
}

.slider-icon.left{
    left: 0;
}

.slider-icon.right{
    right: 0;
}

.slider-icon:hover {
    color:rgb(242, 229, 85)
}

.slider-card {
    width: 180px;
    height: 270px;
    background-color: rgb(93, 91, 91);
    border-radius: 3%;
    display:inline-block;
    padding: 10px;
    margin: 10px;
    box-shadow: 2px 2px 2px 2px;
}

